.card-size {
    height: 100%;
}

.card {
    background-color: rgb(219, 219, 219) !important;
}

.table-container {
    width: 90%;
}

/* Index.html */
/* show more div */
.hidden {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.visible {
    height: auto;
    opacity: 1;
}
